# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-toml
    -   id: check-added-large-files

-   repo: https://github.com/python-poetry/poetry
    rev: '2.2.1'
    hooks:
    -   id: poetry-check
    -   id: poetry-lock

-   repo: https://github.com/python-poetry/poetry-plugin-export
    rev: '1.9.0'
    hooks:
    -   id: poetry-export

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
    - id: ruff-format
